pkgbase = qrtr-git
	pkgdesc = Userspace reference for net/qrtr in the Linux kernel
	pkgver = r93.9dc7a88
	pkgrel = 2
	url = https://github.com/andersson/qrtr
	arch = aarch64
	license = BSD-3-Clause
	makedepends = linux-headers
	depends = glibc
	provides = qrtr
	source = git+https://github.com/andersson/qrtr#commit=9dc7a88548c27983e06465d3fbba2ba27d4bc050
	sha256sums = SKIP

pkgname = qrtr-git
