pkgbase = phosh-osk-stub
	pkgdesc = Stub for debugging OSK / input related issues with phosh
	pkgver = 0.22.0.r0.gf4be4ef
	pkgrel = 1
	url = https://gitlab.gnome.org/guidog/phosh-osk-stub
	arch = x86_64
	arch = aarch64
	license = GPL3+
	makedepends = meson
	makedepends = ninja
	depends = feedbackd
	depends = phoc
	depends = libhandy
	source = git+https://gitlab.gnome.org/guidog/phosh-osk-stub#commit=f4be4efe622f8ea49c77cc237e7aca316d175e87
	sha256sums = SKIP

pkgname = phosh-osk-stub
