# systemd service file for usb-tethering

[Unit]
Wants=unudhcpd.service
Description=USB Tethering

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/bin/usb-tethering

[Install]
WantedBy=multi-user.target
