pkgbase = tqftpserv-git
	pkgdesc = Trivial File Transfer Protocol server over AF_QIPCRTR
	pkgver = r12.783425b
	pkgrel = 2
	url = https://github.com/andersson/tqftpserv
	arch = aarch64
	license = BSD-3-Clause
	depends = qrtr-git
	provides = tqftpserv
	source = git+https://github.com/andersson/tqftpserv#commit=783425b550de2a359db6aa3b41577c3fbaae5903
	sha256sums = SKIP

pkgname = tqftpserv-git
