pkgbase = meta-modem-qcom
	pkgdesc = Metapackage for Qualcomm SoC modem support
	pkgver = 0.1
	pkgrel = 3
	arch = aarch64
	arch = armv7h
	license = GPL
	depends = modemmanager-qcom
	depends = msm-modem-uim-selection
	source = modem-qcom.txt
	sha256sums = 396e04be935f23ff03ef111b780d23617acc303167a35c12c200e1e219fe7ef8

pkgname = meta-modem-qcom
