pkgbase = boot-qhypstub-git
	pkgver = r28.7fedbc9
	pkgrel = 1
	url = https://github.com/msm8916-mainline/qhypstub
	arch = aarch64
	license = GPL2
	makedepends = python
	makedepends = python-cryptography
	provides = boot-qhypstub
	source = git+https://github.com/msm8916-mainline/qhypstub#commit=7fedbc9262643e8e061777dcc0d39f17484fe76f
	source = git+https://github.com/msm8916-mainline/qtestsign#commit=3f22b307c68b1ac8c67458a4d3dc411013d57bce
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = boot-qhypstub-git
