pkgbase = qbootctl
	pkgver = 0.1.1.r0.g50ef032
	pkgrel = 1
	arch = aarch64
	license = GPL3
	makedepends = meson
	makedepends = cmake
	makedepends = linux-headers
	depends = zlib
	source = git+https://gitlab.com/sdm845-mainline/qbootctl.git#commit=50ef0328afa38bbb610613caa687299976047be0
	source = qbootctl.service
	sha256sums = SKIP
	sha256sums = 38ca13680740cf1de6a6db952c5c47d43b40a4b99f5804e134205916d82aac08

pkgname = qbootctl
