pkgbase = firmware-msm8916-bq-paella
	pkgver = 0.1
	pkgrel = 2
	arch = aarch64
	license = custom:Proprietary
	makedepends = wget
	options = !strip
	source = https://gitlab.com/kupfer/firmware/-/raw/main/android-qcom-msm8916-bq_paella.sh
	sha256sums = 4fabb8ddca19df44a31872761fe042c291b5f46cd13475160f42929a468ed5c1

pkgname = firmware-msm8916-bq-paella
