pkgbase = qemu-user-static-bin
	pkgdesc = A generic and open source machine emulator, statically linked
	pkgver = 5.2
	pkgrel = 13
	url = http://wiki.qemu.org
	arch = x86_64
	arch = i686
	arch = aarch64
	arch = armv7h
	arch = armv6h
	license = GPL2
	license = LGPL2.1
	provides = qemu-user
	provides = qemu-user-static
	conflicts = qemu-user
	conflicts = qemu-user-static
	source_x86_64 = https://deb.debian.org/debian/pool/main/q/qemu/qemu-user-static_5.2+dfsg-11+deb11u2_amd64.deb
	sha256sums_x86_64 = 31e1ccf17e282e6b78c41a46ac51dfdcebfdb86107444f2e26644d115c371efd
	source_i686 = https://deb.debian.org/debian/pool/main/q/qemu/qemu-user-static_5.2+dfsg-11+deb11u2_i386.deb
	sha256sums_i686 = abfc1cc0254d174cd74b9c79219f62c6c25d29e05ffc271fd49a1d6b78034d5e
	source_aarch64 = https://deb.debian.org/debian/pool/main/q/qemu/qemu-user-static_5.2+dfsg-11+deb11u2_arm64.deb
	sha256sums_aarch64 = 20922eab255ceee3ffca258837028a447a81e47b61ab0d515978a00c15a19fb1
	source_armv7h = https://deb.debian.org/debian/pool/main/q/qemu/qemu-user-static_5.2+dfsg-11+deb11u2_armhf.deb
	sha256sums_armv7h = 4ede2fc5ed098f25301eb26f277c2b63933e1f0b59b6cf3eb426a2ce14a7a317
	source_armv6h = https://deb.debian.org/debian/pool/main/q/qemu/qemu-user-static_5.2+dfsg-11+deb11u2_armel.deb
	sha256sums_armv6h = aab7b1f89b1cef0a230f15c5bdb34984fbbe77623fe817ed4ff621c160d9e0d5

pkgname = qemu-user-static-bin
