pkgbase = flavour-phosh
	pkgdesc = Kupfer flavour: The gtk-based Phosh (Phone Shell) environment
	pkgver = 0.1
	pkgrel = 1
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = GPL
	depends = flavour-phosh-minimal
	depends = archlinux-appstream-data
	depends = gnome-software
	depends = gnome-software-packagekit-plugin
	depends = firefox-libinput-config
	depends = firefox-wayland-config
	depends = firefox-mobile-config
	depends = firefox
	depends = qt-wayland-config
	depends = qt-mobile-config
	depends = eog
	depends = noto-fonts
	depends = noto-fonts-emoji
	depends = gedit
	depends = gnome-calculator
	depends = gnome-clocks
	depends = gnome-contacts
	depends = gnome-calendar
	depends = lollypop
	depends = xdg-user-dirs

pkgname = flavour-phosh
