pkgbase = pixman
	pkgdesc = The pixel-manipulation library for X and cairo
	pkgver = 0.40.0
	pkgrel = 2
	url = https://cgit.freedesktop.org/pixman/
	arch = aarch64
	license = custom
	makedepends = meson
	makedepends = libpng
	depends = glibc
	provides = libpixman-1.so
	source = https://xorg.freedesktop.org/releases/individual/lib/pixman-0.40.0.tar.xz
	source = https://gitlab.freedesktop.org/pixman/pixman/-/commit/04f662a3ee0dbab1b4755a6faf491751f6f29627.patch
	sha256sums = da8ed9fe2d1c5ef8ce5d1207992db959226bd4e37e3f88acf908fd9a71e2704e
	sha256sums = e131682707ab97817e9dda33d36be0c4b17be0171889d10b0b32c6ad9585014b

pkgname = pixman
