pkgbase = device-sdm845-common
	pkgdesc = Common package for Qualcomm SDM845 devices
	pkgver = 0.3
	pkgrel = 3
	install = sdm845-common.install
	arch = aarch64
	license = MIT
	depends = linux-firmware-qcom
	depends = linux-firmware-ath10k
	depends = linux-sdm845
	depends = pd-mapper-git
	depends = qrtr-git
	depends = rmtfs-git
	depends = tqftpserv-git
	depends = boot-android-common
	depends = meta-modem-qcom
	provides = alsa-ucm-conf
	conflicts = alsa-ucm-conf
	source = sdm845-common.conf
	source = git+https://gitlab.com/sdm845-mainline/alsa-ucm-conf.git/#commit=621c71fd5f5742c60d38766ebb2d1bd3b863a2a4
	sha256sums = 557bde976b39d767305b870f0de1f5572bda953afc7d8ea153bf4b6cd2ae913d
	sha256sums = SKIP

pkgname = device-sdm845-common
