pkgbase = feedbackd
	pkgdesc = A daemon to provide haptic (and later more) feedback on events
	pkgver = 0.0.1.r0.g99c12e7
	pkgrel = 1
	url = https://source.puri.sm/Librem5/feedbackd
	arch = x86_64
	arch = aarch64
	license = GPL
	makedepends = meson
	makedepends = vala
	depends = gobject-introspection
	depends = gsound
	depends = json-glib
	depends = libgudev
	source = git+https://source.puri.sm/Librem5/feedbackd#commit=99c12e77d830ac8b0316c032bddd3ef082c66c72
	source = git+https://source.puri.sm/Librem5/feedbackd-device-themes#commit=8491037913537d31d663f1263d336f5adcae9541
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = feedbackd
