pkgbase = kgx
	pkgdesc = A simple user-friendly terminal emulator for the GNOME desktop
	pkgver = 43.0.r0.gcffddb1
	pkgrel = 1
	url = https://gitlab.gnome.org/GNOME/console
	arch = x86_64
	arch = aarch64
	license = GPL
	makedepends = meson
	makedepends = sassc
	depends = vte4
	depends = gtk4
	depends = glib2
	depends = libadwaita
	depends = libgtop
	depends = libnautilus-extension
	source = git+https://gitlab.gnome.org/GNOME/console#commit=cffddb1a7bbf8ad1b1616cc026909411e218db1a
	sha256sums = SKIP

pkgname = kgx
