pkgbase = kgx
	pkgdesc = A simple user-friendly terminal emulator for the GNOME desktop
	pkgver = 42.2.r0.ge33b965
	pkgrel = 1
	url = https://gitlab.gnome.org/GNOME/console
	arch = x86_64
	arch = aarch64
	license = GPL
	makedepends = meson
	makedepends = sassc
	depends = vte3
	depends = gtk3
	depends = glib2
	depends = libhandy
	depends = libgtop
	depends = libnautilus-extension
	source = git+https://gitlab.gnome.org/GNOME/console#commit=e33b965c64418841b13dcf7dd0a336c151e36d1c
	sha256sums = SKIP

pkgname = kgx
