pkgbase = firefox-wayland-config
	pkgdesc = conf.d entry to make firefox use wayland
	pkgver = 1.0
	pkgrel = 1
	url = https://gitlab.com/postmarketOS/pmaports/-/raw/master/main/postmarketos-ui-gnome/firefox-wayland.sh
	arch = any
	license = GPL-3.0-or-later
	source = https://gitlab.com/postmarketOS/pmaports/-/raw/master/main/postmarketos-ui-gnome/firefox-wayland.sh
	sha256sums = 8bb3fcc6c8fa969ff46fd3782d22b06b7071b6af2bf1475e375382b02ebeb1a1

pkgname = firefox-wayland-config
