pkgbase = phosh
	pkgdesc = The phosh Shell
	pkgver = 0.22.0.r0.gbd05d732
	pkgrel = 1
	url = https://gitlab.gnome.org/World/Phosh/phosh
	arch = x86_64
	arch = aarch64
	license = GPL
	makedepends = meson
	makedepends = ninja
	makedepends = evince
	depends = gtk3
	depends = libhandy
	depends = gnome-desktop
	depends = gnome-session
	depends = gnome-shell
	depends = upower
	depends = libpulse
	depends = gcr
	depends = feedbackd
	depends = libnm
	depends = phoc
	depends = callaudiod
	depends = evolution-data-server
	optdepends = firefox-wayland-config: Use Wayland by default for Firefox
	optdepends = qt-wayland-config: Use Wayland by default for Qt apps
	optdepends = firefox-mobile-config: Firefox configuration optimized for mobile
	optdepends = qt-mobile-config: Qt conf.d entry to disable desktop window decorations
	source = git+https://gitlab.gnome.org/World/Phosh/phosh#commit=bd05d732a8c6f58d622661d085e9265951902848
	source = pam_phosh
	source = phosh.service
	sha256sums = SKIP
	sha256sums = 43b94d0d9f4d083f028c77d18cb0d0f8037d160c41f333878c7cae3df0163c3d
	sha256sums = a7cbe281d7e686d4068f93a636a548220731cd93e75e2023b0aa6b8e8fc7b751

pkgname = phosh
