pkgbase = device-msm8916-common
	pkgver = 0.1
	pkgrel = 5
	arch = aarch64
	license = MIT
	depends = linux-firmware-qcom
	depends = linux-msm8916
	depends = boot-lk2nd-msm8916-git
	depends = boot-qhypstub-git
	depends = boot-android-common
	depends = meta-modem-qcom
	source = msm8916-common.conf
	sha256sums = 499cea40bb39f21e4e023c6945fd267a328c7325bd8f4fd156e239a1252c1400

pkgname = device-msm8916-common
