pkgbase = device-sdm845-oneplus-fajita
	pkgver = 0.3
	pkgrel = 1
	arch = aarch64
	license = MIT
	depends = device-sdm845-oneplus-common
	source = machine-info
	source = https://gitlab.com/postmarketOS/pmaports/-/raw/1770b37b601337b256258fcfbc18e53f895c9d81/device/community/device-oneplus-fajita/deviceinfo
	sha256sums = 7729d6a89258b470cadd48cfbc704bab7791501c53f45f50737dea6b441a3171
	sha256sums = 19fcac7422d2effa311fd84ea327fa23dd7e3fbfbe76891b82d21a9b85379a15

pkgname = device-sdm845-oneplus-fajita
