pkgbase = boot-android-bootimg-updater
	pkgver = 0.3
	pkgrel = 2
	install = android-bootimg-updater.install
	arch = aarch64
	arch = x86_64
	license = MIT
	depends = mkbootimg-git
	source = 91-linux.hook
	source = update-bootimg.sh
	sha256sums = 363c843504471d971a8a4c7d9ac53c97b8c07685aac932be60bbab9cba77bf18
	sha256sums = e32f03ad57cd74dfd029ce21cbf5de5f1679aa1ca34fe6323e110ba0a7df9ce5

pkgname = boot-android-bootimg-updater
