pkgbase = binfmt-qemu-static
	pkgdesc = Register qemu-static interpreters for various binary formats - all archetectures, intelligently removing the current archetecture
	pkgver = 20200413
	pkgrel = 1
	url = http://www.freedesktop.org/software/systemd/man/binfmt.d.html
	arch = armv5
	arch = armv6h
	arch = armv7h
	arch = aarch64
	arch = i686
	arch = x86_64
	license = GPL
	depends = qemu-user-static-bin
	provides = binfmt-qemu-static-all
	conflicts = binfmt-qemu-static-all
	source = qemu-static.conf
	sha256sums = 389d9862131c6c164519b447ec313f4aad2e982b205dddce5058caefb384af44

pkgname = binfmt-qemu-static
