pkgbase = flavour-barebone
	pkgdesc = Kupfer flavour: ultra minimal installation - nothing included
	pkgver = 1.0
	pkgrel = 1
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = GPL3

pkgname = flavour-barebone
