pkgbase = modemmanager-qcom
	pkgdesc = Mobile broadband modem management service
	pkgver = 1.18.12
	pkgrel = 1
	url = https://www.freedesktop.org/wiki/Software/ModemManager/
	arch = aarch64
	arch = armv7h
	license = GPL2
	license = LGPL2.1
	checkdepends = python-gobject
	checkdepends = python-dbus
	makedepends = gtk-doc
	makedepends = gobject-introspection
	makedepends = vala
	makedepends = meson
	makedepends = git
	makedepends = bash-completion
	depends = systemd
	depends = libgudev
	depends = polkit
	depends = ppp
	depends = libqmi
	depends = libmbim
	depends = mobile-broadband-provider-info
	options = debug
	source = git+https://gitlab.freedesktop.org/mobile-broadband/ModemManager.git#commit=c234bd55c9d9618c1478b5e80aaf4b8f965be181
	sha256sums = SKIP

pkgname = modemmanager-qcom
	depends = systemd
	depends = libgudev
	depends = polkit
	depends = ppp
	depends = libqmi
	depends = libmbim
	depends = mobile-broadband-provider-info
	depends = libmm-glib-qcom=1.18.12
	depends = libmm-glib.so
	depends = libglib-2.0.so
	depends = libgobject-2.0.so
	depends = libgio-2.0.so
	depends = libgmodule-2.0.so
	depends = libsystemd.so
	depends = libgudev-1.0.so
	depends = libqmi-glib.so
	depends = libmbim-glib.so
	optdepends = usb_modeswitch: install if your modem shows up as a storage drive
	provides = modemmanager=1.18.12

pkgname = libmm-glib-qcom
	pkgdesc = ModemManager library
	depends = libglib-2.0.so
	depends = libgobject-2.0.so
	depends = libgio-2.0.so
	provides = libmm-glib=1.18.12
	provides = libmm-glib.so
