pkgbase = postmarketos-tweaks
	pkgdesc = Tweak tool for phone UIs
	pkgver = 0.11.0.r0.gfd4cfbe
	pkgrel = 1
	url = https://gitlab.com/postmarketOS/postmarketos-tweaks
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = meson
	makedepends = ninja
	makedepends = python-setuptools
	depends = gtk3
	depends = libhandy
	depends = python
	depends = python-gobject
	depends = python-yaml
	source = git+https://gitlab.com/postmarketOS/postmarketos-tweaks.git#commit=fd4cfbead4e282995512a544964de6001839870d
	sha256sums = SKIP

pkgname = postmarketos-tweaks
